body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 5rem 20rem minmax(0, auto) repeat(3, 15rem);
    gap: 10px;

    text-align: center;
}

body > * {
    background-color: #aaa;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    background-color: #777;
    padding: 3rem
}

div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    padding: 10px;
}

/*Auto refresh (om man litar på chatgpt's bedömning) skickar med en scripttagg när man går live, döljer den såhär annars sabbas designen lite*/
script {display: none;}